.container {
    display: flex;
    flex-direction: column;
    height: 8rem;

    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: var(--bkg-2);

    color: var(--white);

    & div {
        gap: 1rem;
        display: flex;

        & a {
            color: var(--white);
        }
    }
}